:root {

  --color-1: #140f07;
  --color-2: #0f2449;
  --color-3: #245fb2;
  --color-4: #54a1ff;
  --color-5: #95f0fb;

  --color-gray: rgba(5, 5, 5, 0.06);
  --color-text-default: black;
  --background-color-default: white;
}