@import "reset";
@import "fonts";
@import "variables";
@import "visjs";

html, body, #root {
  height: 100%;
}

#root {
  font-family: var(--font-family-default), sans-serif;
  font-size: var(--font-size-default);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
  color: var(--color-text-default);
  letter-spacing: var(--letter-spacing-default);
  background-color: var(--background-color-default);
}