:root {
  --header-height: 4rem;
  --footer-height: 4.5rem;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.header{
  color: aliceblue;
  height: var(--header-height);
}

.content {
  height: var(--content-height);
}

.footer {
  height: var(--footer-height);
}