:root {
  --header-height: 4rem;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header{
  color: aliceblue;
  height: var(--header-height);
}

.content {
  flex: 1 1 auto;
}

.footer {
    border-top: 1px solid var(--color-1);
}