.app-layout {
  display: grid;
  grid-template-areas:  "header header"
                        "menu outlet";
  grid-template-columns: 14rem;
  grid-template-rows: fit-content(4rem);
  height: 100vh;

  &-header {
    grid-area: header;
    color: white;
  }

  &-menu {
    padding-top: 1rem;
    grid-area: menu;
    height: 100%;
    border-inline-end: 1px solid var(--color-gray);
  }

  &-outlet {
    grid-area: outlet;
    max-height: 100%;
  }
}